@import '../Leftbar.scss';
#index-leftbar {
  //--|🠋 Desktop (Landscape) 🠋|--//
  @media screen and (orientation: landscape) {
  }
  //--|🠋 Mobile (Portrait) 🠋|--//
  @media screen and (orientation: portrait) {
  }
  //--|🠋 Tablet (Square) 🠋|--//
  @media screen and (max-aspect-ratio: 16/9) and (min-aspect-ratio: 1/1) {
  }
}
/*
aside[class='default-leftbar'] {
  display: none;
  grid-row-end: 4;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-column-start: 1;

  background: $blue-dark;
}
*/
