@import '../global-styling';

//--|🠋| Index Page |🠋|--//
@import 'main/default-main/default-main.scss';
@import 'header/default-header/default-header.scss';
@import 'footer/default-footer/default-footer.scss';
@import 'overlay/default-overlay/default-overlay.scss';
@import 'leftbar/default-leftbar/default-leftbar.scss';
@import 'rightbar/default-rightbar/default-rightbar.scss';

@mixin orientation-testing {
  //--|🠋 Desktop (Landscape) - ☒ 🠋|--//
  @media screen and (orientation: landscape) and (min-aspect-ratio: 16/9) {
    grid-template: 4rem 1fr 4rem / 6rem 1fr 6rem; //~~|🠊 rows / columns 🠈|~~//

    & {
      header {
        // border: 2px dashed $red-neon;
        background: rgba($red-dark, 0.25);
      }
      main {
        // border: 2px dashed $red-neon;
        background: rgba($red-dark, 0.25);
      }
      footer {
        // border: 2px dashed $red-neon;
        background: rgba($red-dark, 0.25);
      }
    }

    //~~|🠊 border: 2px dashed $red-neon; 🠈|~~//
    //~~|🠊 background: rgba($red-dark, 0.25); 🠈|~~//
  }

  //--|🠋 Mobile (Portrait) - ☒ 🠋|--//
  @media screen and (orientation: portrait) and (max-aspect-ratio: 1/1) {
    grid-template: 6rem 1fr 6rem / 4rem 1fr 4rem; //~~|🠊 rows / columns 🠈|~~//
    & {
      header {
        // border: 2px dashed $blue-neon;
        background: rgba($blue-dark, 0.25);
      }
      main {
        // border: 2px dashed $blue-neon;
        background: rgba($blue-dark, 0.25);
      }
      footer {
        // border: 2px dashed $blue-neon;
        background: rgba($blue-dark, 0.25);
      }
    }
    //~~|🠊 border: 2px dashed $blue-neon; 🠈|~~//
    //~~|🠊 background: rgba($blue-dark, 0.25); 🠈|~~//
  }

  //--|🠋 Tablet (Square) - ☒ 🠋|--//
  @media screen and (max-aspect-ratio: 16/9) and (min-aspect-ratio: 1/1) {
    grid-template: 4rem 1fr 4rem / 4rem 1fr 4rem; //~~|🠊 rows / columns 🠈|~~//
    & {
      header {
        // border: 2px dashed $green-neon;
        background: rgba($green-dark, 0.25);
      }
      main {
        // border: 2px dashed $green-neon;
        background: rgba($green-dark, 0.25);
      }
      footer {
        // border: 2px dashed $green-neon;
        background: rgba($green-dark, 0.25);
      }
    }
    //~~|🠊 border: 2px dashed $green-neon; 🠈|~~//
    //~~|🠊 background: rgba($green-dark, 0.25); 🠈|~~//
  }
}

body {
  height: 100vh; //~~|🠊 Force body's height to fit the screen 🠈|~~//
  overflow: hidden; //~~|🠊 Hide the scrollbar completely 🠈|~~//
  background: linear-gradient(
    140deg,
    $primary-dark 0%,
    $primary-medium 50%,
    $primary-light 100%
  ); //~~|🠊 Apply the background gradient 🠈|~~//

  #index-body {
    height: 100vh;
    display: grid;
    background: linear-gradient(140deg, $primary-dark 0%, $primary-medium 75%, $primary-dark 100%);
    @include orientation-testing();
  }
}
