@import '../Main.scss';

main[id*='index'] {
  display: block;
  overflow-y: scroll;
  grid-template: 1fr / 1fr; //~~|🠊 rows / columns 🠈|~~//
  grid-area: 1 / 1 / 4 / 4; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
  background: $primary-dark; //~~|🠊 background: $primary-dark; 🠈|~~//

  section {
    display: grid;
    //--|🠊 scroll-behavior: smooth; 🠈|--//
    div {
      display: inherit;
      grid-area: 2 / 2 / 3 / 3; //~~|🠊 row-start / col-start / row-end / col-end 🠈|~~//
    }
  }
  &::-webkit-scrollbar {
    display: none; //~~|🠊 Hide Scrollbar 🠈|~~//
  }

  //--|🠋 Desktop (Landscape) - ☒ 🠋|--//
  @media screen and (orientation: landscape) and (min-aspect-ratio: 16/9) {
    //--|🠋 Desktop (Red) 🠋|--//
    section {
      //--|🠊 display: grid; 🠈|--//
      grid-template: 2rem 1fr 2rem / 3rem 1fr 3rem; //~~|🠊 rows / columns 🠈|~~//

      //~~|🠊 border: 4px dashed $red-neon; 🠈|~~//
      //~~|🠊 background: rgba($red-dark, 0.75); 🠈|~~//
    }
  }
  //--|🠋 Mobile (Portrait) - ☒ 🠋|--//
  @media screen and (orientation: portrait) and (max-aspect-ratio: 1/1) {
    //--|🠋 Mobile (Blue) 🠋|--//
    section {
      //--|🠊 display: grid; 🠈|--//
      grid-template: 3rem 1fr 3rem / 2rem 1fr 2rem; //~~|🠊 rows / columns 🠈|~~//

      //~~|🠊 border: 4px dashed $blue-neon; 🠈|~~//
      //~~|🠊 background: rgba($blue-dark, 0.75); 🠈|~~//
    }
  }
  //--|🠋 Tablet (Square) - ☒ 🠋|--//
  @media screen and (max-aspect-ratio: 16/9) and (min-aspect-ratio: 1/1) {
    //--|🠋 Tablet (Green) 🠋|--//
    section {
      //--|🠊 display: grid; 🠈|--//
      grid-template: 2rem 1fr 2rem / 2rem 1fr 2rem; //~~|🠊 rows / columns 🠈|~~//

      //~~|🠊 border: 4px dashed $green-neon; 🠈|~~//
      //~~|🠊 background: rgba($green-dark, 0.75); 🠈|~~//
    }
  }
}
